#set-as-default-button {
  position: fixed;
  top: 290px;
  right: 30px;
  z-index: 9999;
  background-color: #0074d9;
  color: #fff;
  padding: 10px 16px;
  border-radius: 4px;
  font-weight: bold;
}
#set-as-default-button a {
  color: #fff;
  text-decoration: none;
}
